options {
    directory "/var/cache/bind";

    recursion ${bind_recursion ? "yes" : "no"};
    allow-query { ${join(";", bind_allow_query)}; };
    allow-query-cache { ${join(";", bind_allow_query_cache)}; };

%{ if length(bind_forwarders) > 0 }
    forwarders {
      %{ for f in bind_forwarders }
      ${f};
      %{ endfor }
    };
%{ endif }

    listen-on-v6 { ${bind_listen_on_v6 ? "any" : "none"}; };

    dnssec-validation ${bind_dnssec_validation};
};

